body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.converterContainer {
    background-color: #000;
    color: #fff;
    /* font-family: Arial, sans-serif; */
    display: flex;
    flex-direction: column;
    /* border-radius: 8px; */
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: space-between;
    width: 400px; 
    max-width: 100%;
    height: 100vh;
    max-height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

  
  @media (max-width: 1024px) {
    .converterContainer {
      width: 100%; 
    }
  }
  
  
  @media (max-width: 768px) {
    .converterContainer {
      width: 100%; 
    }
  }


.networkInfo {
    color: #aaa;
}
.paymentInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}



.icon {
    margin-right: -10px; 
}




.usingUtorg {
    margin-top: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.smallText {
    font-size: 12px;
    color: #aaa;
}

.icon {
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
    object-fit: cover;
    margin-right: -10px;
}

.arrow {
    color: #aaa;
    font-size: 18px;
    margin-right: -10px;
}

.resultDisplay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    width: 100%;
}

.result {
    font-size: 18px;
    color: #42a5f5;
}

.error {
    color: red;
    font-size: 12px;
    margin-left:13px ;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0;
    gap: 3px;
    width: 100%;
    margin-top: 5px;
}

.keypadButton {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px; 
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.changeCurrency {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.selectedCurrency {
    font-size: 14px;
}

.changeCurrencyIcon {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.continueButton {
    background: linear-gradient(90deg, #007bff9f, #800080);
    color: white;
    border: none;
    border-radius: 25px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
}



.imageIcon {
    width: 24px; 
    height: 24px;
    margin-right: 10px; 
}

.networkInfo,
.provide {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 10px 0;
    margin-left:13px ;
}

.bottomSheet {
    background-color: #333333;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    padding: 10px; 
    height: px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #333;
}

.bottomSheetHeader1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottomSheetHeader1 i {
    margin-right: 8px; 
}

.bottomSheetContent {
    display: flex;
    flex-direction: column;
}

.bottomSheetRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.bottomSheetRow:hover {
    background-color: black;
}

.bottomSheetFooter {
    font-size: 12px;
    margin-top: 0;
    color: #888;
}

.select-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto;
    margin-top: 10px; 
    margin-right: -50px;
    
}

.select-box select {
    width: 50%; 
    height: auto; 
    padding: 4px; 
    font-size: 12px;
    background-color: white; 
    border: 1px solid #007bff; 
    border-radius: 4px; 
    font-weight: bold;
    box-sizing: border-box; 
}

.paymentInfo hr {
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 5px 0;
}


.paymentDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 10px; 
    margin-left:13px ;
}




.usingContainer {
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0; 
}
.topBarIcon{
    margin-left: -10px;
    font-size: 18px;
}
.topBarIcon1{
    margin-right: -10px;
    font-size: 18px;
}
.topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    color: #fff;
}

.leftContainer {
    display: flex;
    align-items: center;
    
}

.backButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    
}



.rightContainer {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.dotsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.dots {
    width: 5px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    margin: 4px 0;
}
.amountDisplay {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-left: 5px; 
}

.amountDisplay.large {
    font-size: 24px;

}

.amountDisplay.large .amountInput {
    height: 30px; 
    font-size: 28px; 
    padding: 0; 
    margin-bottom: 0;
    margin-left:13px ;
    
    
}

.amountDisplay.large .amountLabel {
    font-size: 18px; 
    margin-bottom: 0; 
    margin-right: 20px;
    
}

.amountInput {
    background: none;
    border: none;
    color: #42a5f5;
    font-size: 14px;
    width: 100%; 
    outline: none;
    padding: 0; 
    margin-bottom: 0;
    margin-left:14px ;
}

.amountContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 0; 
    padding: 0; 
    width:45%;
}

.amountLabel {
    font-size: 14px; 
    color: #666;
    padding: 0; 
    margin-top: 0; 
    margin-right: 20px;
    
}
.topBarButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-left:13px ;
    margin-top: 0;

}
.topBarButton1 {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}
.topBarTitle1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: -190px; 
}

.separator {
    width: 3px;
    height: 20px; 
    background-color: #ccc; 
    margin: 0 15px;
    margin-left: 8px;
}


.networkInfo {
    display: flex;
    align-items: center;
    background-color: #1A1A1A; /* Dark background color */
    border: 1px solid #333; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 7px 15px;
    cursor: pointer;
    color: white; /* Text color */
    width:70%;
   
}

.networkInfo .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.networkInfo .smallText {
    margin-right: 5px;
}

.networkInfo .networkDisplay {
    font-weight: bold;
}

.networkInfo .arrow {
    margin-left: auto; 
    font-size: 1.2em;
    color: #888; 
}


.paymentRow {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0; 
}

.paymentRow .icon {
    margin-top: -4px;
    width: 24px;
    height: 24px;
    margin-right: 10px; 
}

.paymentRow .buyContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.buyContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    margin-bottom: 5px;
    padding:5px;
    justify-content: space-between;
    width: 100%;
    margin: 0; 
    padding: 0; 
    font-size: 12px;
}
.buyContainer span {
    margin: 0;
    padding: 0;
    margin-right: auto; 
}
.currencyText {
    margin: 0;
    padding: 0;
    margin-right: 135px;
    margin-top: 0;
    width:70%;
}
.buyText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 250px;
    margin-bottom: 0;
}
.buyIcon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 42%;
    font-size: 12px; 
    margin-top: 0;
    margin-bottom: 0;
}
.paymentRow .paymentTextContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0; 
    padding: 0; 
    font-size: 12px;
}
.textContainer { 
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    margin-bottom: 5px;
    padding:5px;
    justify-content: space-between;
    width: 100%;
    margin: 0; 
    padding: 0; 
    font-size: 12px;
}
.textContainer span {
    margin: 0;
    padding: 0;
    margin-right: auto; 
}
.buyIcon2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 42%;
    font-size: 12px; 
    margin-top: 0;
    margin-bottom: 0;
}
.credit {
    margin: 0;
    padding: 0;
    margin-right: 135px;
    margin-top: 0;
    width:70%;
    /* margin-left: 5px; */
    
    

}
.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 250px;
    margin-bottom: 0;
}

.spacer {
    width: 15px; 
}
.customAlert {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    color: white;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
    width: 30%;
    max-width: 320px;
    text-align: center;
  }
  
  .customAlert p {
    margin: 0 0 15px;
  }
  
  .closeButton {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
  .loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    z-index: 2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
  
  
  .loader {
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #ff007b, #007bff); 
    animation: spin 1s linear infinite;
    transform: rotate(45deg); 
    position: relative;
    z-index: 3;
    box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
    border-radius: 12%; 
  }
  
  
  .loader::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(255, 0, 123, 0.3); 
    border-radius: 15%;
    animation: pulse 1.5s infinite ease-in-out;
    z-index: -1;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(405deg); }
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
