.log_passcode-screen {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background-color: black;
    color: white;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.log_passcode-screen h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.log_passcode-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.log_dot {
    width: 16px;
    height: 16px;
    margin: 0 8px;
    border-radius: 50%;
    border: 2px solid #4c5fd5;
}

.log_dot.filled {
    background-color: #4c5fd5;
}

.log_passcode-screen p {
    font-size: 16px;
    margin-bottom: 30px;
}

.log_number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.log_number-button, .backspace-button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: #2c2c2c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.log_number-button:hover, .log_backspace-button:hover {
    background-color: #4c5fd5;
}

@media (min-width: 600px) and (max-width: 900px) {
    .log_passcode-screen {
        max-width: 400px;
        width: 100%;
        height: 100vh;
    }
    
    .log_passcode-screen h1 {
        font-size: 22px;
    }
    
    .log_dot {
        width: 14px;
        height: 14px;
        margin: 0 6px;
    }
    
    .log_number-button, .log_backspace-button {
        width: 55px;
        height: 55px;
        font-size: 22px;
    }
    
    .log_passcode-screen p {
        font-size: 15px;
    }
}

/* For small devices (mobiles) */
@media (max-width: 600px) {
    .log_passcode-screen {
        max-width: 400px;
        width: 100%;
        height: 100vh;
    }
    
    
    .log_passcode-screen h1 {
        font-size: 20px;
    }
    
    .log_dot {
        width: 12px;
        height: 12px;
        margin: 0 6px;
    }
    
    .log_number-button, .log_backspace-button {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    
    .log_passcode-screen p {
        font-size: 14px;
    }
}

/* For medium devices (iPad Mini) */
@media (min-width: 600px) and (max-width: 768px) {
    .log_passcode-screen {
        max-width: 400px;
        width: 100%;
        height: 100vh;
    }
    
    .log_passcode-screen h1 {
        font-size: 22px;
    }
    
    .log_dot {
        width: 14px;
        height: 14px;
        margin: 0 6px;
    }
    
    .log_number-button, .log_backspace-button {
        width: 55px;
        height: 55px;
        font-size: 22px;
    }
    
    .log_passcode-screen p {
        font-size: 15px;
    }
}

/* For larger devices (iPad Pro) */
@media (min-width: 768px) and (max-width: 1024px) {
    .log_passcode-screen {
        max-width: 400px;
        width: 100%;
        height: 100vh;
    }
    
    .log_passcode-screen h1 {
        font-size: 24px;
    }
    
    .log_dot {
        width: 16px;
        height: 16px;
        margin: 0 8px;
    }
    
    .log_number-button, .log_backspace-button {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
    
    .log_passcode-screen p {
        font-size: 16px;
    }
}

/* For even larger screens like laptops or desktops */
@media (min-width: 1024px) {
    .log_passcode-screen {
        max-width: 400px;
        width: 100%;
        height: 100vh;
    }
    
    .log_number-button, .backspace-button {
        width: 55px;
        height: 55px;
        font-size: 18px;
    }
}

.log_card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom:40px;
    background-color: black
  }
  
  .log_password_button {
    background-color: black; 
    color: gray;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .log_button_text {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .log_password_button {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .log_password_button {
      font-size: 12px;
    }
  }

  /* Custom popup styles for SweetAlert2 */
.lock-popup {
    background-color: #2c2c2c; /* Dark background */
    max-width: 200px;          /* Width of the alert */
    width: auto;               /* Auto width */
    height: auto;              /* Auto height */
    font-size: 18px;           /* Font size for popup */
    color: white;              /* Text color */
    border-radius: 15px;       /* Rounded corners */
    padding: 20px;             /* Padding inside the popup */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Soft shadow */
}

/* Title styles */
.lock-title {
    font-size: 18px;           /* Title font size */
    color: white;              /* Title color */
    font-weight: bold;         /* Bold title */
    margin-bottom: 10px;       /* Space below the title */
}