.container {
    position: relative;
    height: 100vh;
    max-height: auto;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    bottom: 40px;
    background-color: black;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Hides horizontal scrolling */
    overflow-y: hidden; /* Hides vertical scrolling */
    box-sizing: border-box;
    
  }
  @media (max-width: 1024px), (max-width: 768px) {
    .container {
      width: 100%;
      padding: 20px;
    }
  }

 
/* For screens with width between 375px and 414px */
@media (min-width: 360px) and (max-width: 414px) {
  .container {
    padding-top: 30px;
    /* padding: 20px; Slightly larger padding for larger mobile screens */
  }

  .navbar {
    width: 60%; /* Keep some padding on the sides */
    padding: 0 0px;
  }
  .iconButton {
    background: none;
    border: none;
    color: white;
    left: 20px;
    cursor: pointer;
    font-size: 18px;
  }
}
  
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    position: relative;
  }
  .iconContainer {
    display: flex;
     gap: 10px; 
  }
  
  .iconWrapper {
    background-color: rgb(45, 45, 45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    width: 40px;  
    cursor: pointer;
  
  }
  
  .dropdownIcon {
    font-size: 18px;
    color: white;
    margin-left: 10px;
  }
  @media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 5px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 5px;
    }
}

@media (min-width: 360px) and (max-width: 414px) {
    .container {
        width: 100%;
        padding: 5px;
    }
}
  
  .iconButton {
    background: none;
    border: none;
    color: white;
    left: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .searchInput {
    flex: 1;
    padding: 5px 10px;
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
    margin: 0 10px;
    color: rgb(255, 255, 255);
  }
  .globe{
     position: relative;
     left: 10px;
  }
  .plus{
    position: 'relative';
    left: 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px 
  }
  .EllipsisV{
    position: relative;
    left: 20px; 
  }
  .tabs {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    left: 15px;
    position: relative;
    cursor: pointer;
  }
  
  .tabCount {
    background-color: rgb(55, 55, 55);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    position: absolute;
    top: -10px;
    right: -10px;
  }
  
  .header {
    font-size: 24px;
    text-align: center;
    color: white;
  }
  
  .contentBox {
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 170px;
  }
  
  .text {
    color: white;
  }
  
  .dropdown {
    position: absolute;
    top: 50px;
    right: -80px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdownItem:hover {
    background-color: #444;
  }
  
  .dropdownIcon {
    margin-right: 10px;
  }
  
  