.container {
  height: 150vh;
  width: 400px;

  max-width: 100%;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 0;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background: black;
  position:relative;

}
@media (max-width: 1024px) {
  .container {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%; 
  }
}




.header {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: gray;
  color: white;
  margin-bottom: 15px;
  background-color: #2a2a2a;;
}

.addCurrencyButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.addCurrencyButton:hover {
  background-color: #0056b3;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: white;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: white;
}

.submitButton {
  padding: 8px;
  background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1px;
  /* margin-right: -20px; */
  margin-top: 20px;
  
}

.submitButton:hover {
  background-color: #0056b3;
}

.statusMessage {
  margin-top: 15px;
  color: white;
  text-align: center;
}
.topBar {
  display: flex;
  align-items: center;
  gap: 20px; /* Add spacing between icon and title if needed */
  margin-bottom: 30px;
  margin-top: -20px;

}

.topBarButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topBarIcon {
  font-size: 18px; /* Adjust size if needed */
  color: white;
}

.topBarTitle {
  font-size: 24px;
  color: white;
  
}
@media (max-width: 768px) {
  .header h1 {
    font-size:1.5em;
}
}
.error {
color: red;
font-size: 0.875rem;
margin-top: 0.25rem;
}
.customAlert {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 30px;
  border-radius: 10px;
  z-index: 1000;
  width: 25%;
  max-width: auto;
  text-align: center;
}

@media (max-width: 1040px) {
  .customAlert {
    width: 80%;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .customAlert {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .customAlert {
    width: 95%;
    padding: 10px;
  }
}

.customAlert p {
margin: 0 0 15px;
}

.closeButton {
background-color: #f0f0f0;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
color: black;
font-weight: bold;
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}


.loader {
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ff007b, #007bff); 
  animation: spin 1s linear infinite;
  transform: rotate(45deg); 
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
  border-radius: 12%; 
}

.required {
  color: red;
  margin-left: 0.2rem;
}

.loader::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(255, 0, 123, 0.3); 
  border-radius: 15%;
  animation: pulse 1.5s infinite ease-in-out;
  z-index: -1;
}


@keyframes spin {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}