.container {
    padding: 20px;
    color: white;
    background-color: black;
    
    padding: 20px;
    height: 100vh;
    width: 100%; /* Full width for small screens */
    max-width: 400px; /* Fixed maximum width for larger screens */
    margin: 0 auto;
    top: 0;
  }
  /* Small screens (up to 600px) */
@media (max-width: 600px) {
  .container {
    max-width: 100%; /* Full width on mobile screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }
}

/* Medium devices (600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 100%; /* Slightly narrower on tablet screens */
    padding: 20px;
  }
}

  
  .navbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .iconButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .header {
    font-size: 24px;
    color: white;
    flex: 1;
  }
  
  .historyList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .historyItem {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .historyItem:hover {
    background-color: #444;
  }
  
  .title {
    font-size: 18px;
  }
  
  .url {
    font-size: 14px;
    color: #aaa;
  }
  