@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@500&display=swap');

.shapeIcon {
    position: absolute;
    top: -16px;
    left: 202px;
    width: 399px;
    height: 476.1px;
    object-fit: contain;
}
.dupayLogoIcon {
    width: 32px;
    position: relative;
    height: 32px;
}
.dupay {
    position: relative;
    line-height: 11.74px;
}
.dupayLogoParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.frameWrapper {
    position: absolute;
    top: 16px;
    left: 162px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.iconmenuBurger {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.frameParent {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #222531;
    width: 430px;
    height: 64px;
    overflow: hidden;
    opacity: 0.9;
    text-align: center;
    font-family: ''SF Pro Display', sans-serif';
}
.mwebChild {
    position: absolute;
    top: 723px;
    left: 0px;
    background-color: #222531;
    width: 1440px;
    height: 1px;
    overflow: hidden;
    opacity: 0.9;
}
.buySell {
    background: linear-gradient(180deg, #ff89c2, #f65ba4 50%, #bd46f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.with {
    color: #d9d9d9;
}
.title {
    align-self: stretch;
    position: relative;
    line-height: 36px;
    font-weight: 300;
}

.title1 {
    align-self: stretch;
    position: relative;
    line-height: 40px;
    font-weight: 300;
}
.titleWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 19px;
    font-weight: 300;
}
.titleWrappers {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 19px;
}
.titleParent {
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.logoIcon {
    width: 33.7px;
    position: relative;
    height: 41.6px;
}
.textoIcon {
    width: 127.1px;
    position: relative;
    height: 41.5px;
}
.logoParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.frameDiv {
    align-self: stretch;
    background-color: #222531;
    height: 75px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.logoIcon1 {
    width: 35px;
    position: relative;
    height: 39.1px;
}
.textoIcon1 {
    width: 121.2px;
    position: relative;
    height: 39px;
}
.logoGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}
.chromeWebStoreIcon {
    width: 55.6px;
    position: relative;
    height: 47.9px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.textoIcon2 {
    width: 165.5px;
    position: relative;
    height: 33.7px;
}
.image6Icon {
    width: 34px;
    position: relative;
    height: 40.2px;
    object-fit: cover;
}
.availableOn {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.05em;
    line-height: 24px;
    font-weight: 500;
}
.braveBrowser {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: -4px;
}
.availableOnParent {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 12px;
    font-family: 'Avenir Next';
}
.frameGroup {
    position: absolute;
    top: 450px;
    left: 24px;
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    text-align: center;
    font-size: 24px;
}


.mweb {
    width: 411px;
    position: relative;
    background-color: #17171a;
    height: 170vh;
    overflow: hidden;
    text-align: left;
    font-size: 19px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    max-height: auto;
}
@media (max-width: 1024px) {
    .mweb {
      width: 100%; 
    }
  }
  
  @media (max-width: 768px) {
    .mweb {
      width: 100%; 
    }
  }


  
  .sidebar {
    position: fixed;
    top: 64px;
    width: 411px;
    max-width: 100%;
    margin: 0 auto;
    height: calc(100% - 64px);
    background-color: #17171a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sidebar li {
    margin: 20px 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(91.26deg, #70a2ff, #f76e64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.sidebar li:hover {
    color: #f0a500;
}

.iconmenuBurger {
    cursor: pointer;
}
.button {
    background: linear-gradient(135deg, #70a2ff 30%, #f76e64 100%);
    padding: 5px 100px;
    border: none;
    color: white;
    border-radius: 100px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #ff89c2;
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.button:active {
    background-color: #bd46f4;
    transform: scale(0.98); /* Button shrink effect on click */
}
.noScroll {
    overflow: hidden;
  }
/* For small devices (portrait tablets and large phones, 600px and below) */
@media (max-width: 600px) {
    
    /* Adjust styles for small screens */
    .mweb {
        width: 100%;
        padding: 10px;
        height: 180vh;
        
    }
    .no-scroll {
        overflow: hidden; /* Prevent scrolling */
    }
    .frameWrapper {
        left: 15%;
    }
    .frameParent, .sidebar {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        
    }
    .titleWrapper {
        font-size: 16px;
        /* gap: 16px; */
        margin-right: 30px;
    }
    .title{
        left: -5%;
        
    }
    .title1{
        margin-right: 5%;
    }

    .sidebar li {
        font-size: 1.2rem; /* Adjust font size for small screens */
    }

    .button {
        padding: 10px 60px; /* Reduce padding on smaller screens */
    }
}
@media (max-width: 480px) {
    
    /* Adjust styles for small screens */
    .mweb {
        width: 100%;
        padding: 10px;
        
    }
    .no-scroll {
        overflow: hidden; /* Prevent scrolling */
    }
    .frameWrapper {
        left: 15%;
    }
    .frameParent, .sidebar {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        
    }
    .titleWrapper {
        font-size: 16px;
        /* gap: 16px; */
        margin-right: 30px;
    }
    .title{
        left: -5%;
        
    }
    .title1{
        margin-right: 5%;
    }

    .sidebar li {
        font-size: 1.2rem; /* Adjust font size for small screens */
    }

    .button {
        padding: 10px 60px; /* Reduce padding on smaller screens */
    }
    .frameContainer
    {
        margin-left: 0;
        margin-right: 2%;
    }
}

/* For extra small devices (phones, 320px and below) */
@media (max-width: 400px) {
    .mweb {
        width: 100%;
        padding: 5px;
        height:200vh;
    }
    .frameWrapper {
        left: 15%;
    }
    .titleWrapper {
        font-size: 16px;
        /* gap: 16px; */
        margin-right: 30px;
    }
    .title{
        left: -5%;
        
    }
    .title1{
        margin-right: 5%;
    }
    .sidebar {
        width: 100%;
    }

    .button {
        padding: 5px 40px;
        font-size: 1rem;
    }
    .shapeIcon {
        left:160px;
    }
    .device14pmIcon {
        left: -15%;
    }
    .frameWrapper, .frameParent {
        width: 100%;
    }
    .frameContainer
    {
        margin-left: 0;
        margin-right: 15%;
    }
}


@media (max-width: 350px) {
    .mweb {
        width: 100%;
        padding: 5px;
        height: 150vh;
    }
    .frameContainer
    {
        margin-left: 0;
        margin-right: 25%;
    }
}
.titleWrapper {
    font-size: 16px;
    gap: 16px;
    margin-right: 30px;
}
.title{
    left: 0;
    margin-right: 20%;
    
}
.title1{
    margin-right: 10%;
}

.frameDiv {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .frameDiv:hover {
    border: 1px solid #ccc;
  }
  
  .selected {
    border: 2px solid #007bff;
    background-color: #2a2a2a;
  }
  