html, body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margins */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.formWrapper {
  background: black;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 360px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #B488B2;
}

.formContent {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  position: relative;
  margin-bottom: 30px; /* Space between input fields */
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(136, 141, 170, 1);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 0px;
  left: 5px;
  font-size: 12px;
  color: #B488B2;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: rgb(251, 249, 249);
  background: rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.errorInput {
  border-color: red;
}

.error {
  color: red;
  font-size: 14px;
}

.submitButton {
  padding: 10px 20px;
  background: #e2f0ff;
  border: none;
  color: #0b0b0b;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  margin-top: 20px; /* Adds space above the button */
}

.loginLink {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.timer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.resendButton {
  background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.eyeIcon {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 1em;
  margin-left: -25px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .formWrapper {
    padding: 1.5rem;
    max-width: 90%;
  }

  .title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .formWrapper {
    padding: 1rem;
  }

  .title {
    font-size: 18px;
  }

  .input {
    padding: 8px;
    font-size: 14px;
  }

  .label {
    font-size: 14px;
  }

  .submitButton {
    padding: 8px;
    font-size: 14px;
  }
  
  .resendButton {
    font-size: 12px;
    padding: 4px;
  }
}
