@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@500&display=swap');
.shapeIcon {
    position: absolute;
    top: -6vh; /* Adjusted to use viewport units */
    left: 65vw; /* Adjusted to use viewport units */
    width: 50vw;
    height: 50vh;
    object-fit: contain;
}
.webpageSingleChild {
    overflow: hidden;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222531;
    width: 100vw;
    height: 11.5vh;
    opacity: 0.9;
}
.webpageSingleItem {
    position: absolute;
    overflow: hidden;
    /* opacity: 0.9; */
    top: 50vh;
    left: 0;
    background-color: #222531;
    width: 100vw;
    height: 1px;
    opacity: 0.9;
}

.button1 {
    background: linear-gradient(97.59deg, #E34D67 29.66%, #7746F4 70.15%);
    color: white ;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    padding: 0.8vh 0.8vw;
    /* font-size: 1vw; */
}
.buttons{
    background: linear-gradient(91.26deg, #70a2ff, #f76e64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.button1:hover {
    background-color: #5a47aa; /* Darker shade for hover effect */
}

.button1:active {
    transform: scale(0.98); /* Slightly shrink when clicked */
}
.homeAboutContact {
    position: absolute;
    top: 1vh;
    left: 63vw;
    /* line-height: 24px; */
    white-space: pre-wrap;
    font-size: 1.2vw;
    flex-wrap: nowrap;
    min-width: 900px;
}
   
.homeAboutContactParent {
    
    position: absolute;
    top: 3vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;


    
}


.dupayLogoIcon {
    width: 3.8vw;       
    height: 3.8vw;     
    min-width: 30px;  /* Ensures a minimum size for very small screens */
    min-height:30px;
    max-width: 50px;
    max-height: 50px;
    
}
.dupay {
    line-height: 11.74px;
    font-size: 26.43px; /* Font size relative to viewport width */
    min-font-size: 26.43px; /* Minimum font size to prevent being too small */
}
.dupayLogoParent {
    position: absolute;
    top: 3vh;
    left: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: center;
    font-family: ''SF Pro Display', sans-serif';
}
.buySell {
    background: linear-gradient(180deg, #ff89c2 100%, #f65ba4 50%, #bd46f4 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buyConfidence{
    background: linear-gradient(180deg,   #f65ba4 ,#ff89c2 0%, #bd46f4 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.with {
    color: #d9d9d9;
}
.title {
    position: relative;
    /* line-height: 56px; */
    font-weight: 300;
    display: inline-block;
    width: 40vw;
    font-size: 2.7vw;
    line-height: 6.5vh;
}
.title1 {
    align-self: stretch;
    position: relative;
    line-height: 40px;
    font-weight: 300;
}
.titleWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* font-size: 19px; */
    font-size: 1.3vw;
    line-height: 6vh;
}
.titleParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.logoIcon {
    width: 33.7px;
    position: relative;
    height: 41.6px;
}
.textoIcon {
    width: 127.1px;
    position: relative;
    height: 41.5px;
}
.logoParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.frameWrapper {
    width: 260px;
    background-color: #222531;
    height: 75px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.logoIcon1 {
    width: 35px;
    position: relative;
    height: 39.1px;
}




.frameGroup {
    width: 688px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}
.device14pmIcon {
    width: 258px;
    position: relative;
    height: 529px;
}
.frameParent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: contain;
    top: 17vh;
    width: 73vw;
}


.webpageSingle {
    position: relative;
    background-color: #17171a;
    text-align: left;
    color: #fff;
    font-family:  'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 3vh;
    transition: filter 0.3s ease;
}
@media (max-width: 768px) {
    .webpageSingle {
        width: 100%;
    }
    .homeAboutContactParent {
      flex-direction: column;
      padding: 20px;
      text-align: center;
    }
  
    .device14pmIcon {
      margin-top: 7rem;
      margin-left: 0;
      margin-bottom: 2rem;
    }
  
    .frameParent {
      margin-top: 2rem;
      margin-right: 0;
    }
  
    .title {
      font-size: 24px;
      text-align: center;
    }
  
    .title1 {
      font-size: 14px;
      text-align: center;
    }
  
    .signupButton {
      font-size: 14px;
      padding: 10px 30px;
      margin-bottom: 3rem;
    }
  
    
  }



