.walletContainer {
    height: 100vh;
    max-height: auto;
    width: 400px;
    max-width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    /* border-radius: 8px; */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 70px auto 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    position: relative;
    
}
@media (max-width: 1024px) {
    .walletContainer {
      width: 100%; 
    }
  }
  
  
  @media (max-width: 768px) {
    .walletContainer {
      width: 100%; 
    }
  }
 

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.backArrow {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.balanceCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.balanceDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.currencyImage {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.currencyText {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.currencyCode {
    font-weight: bold;
    font-size: 16px;
}

.currencyCountry {
    font-size: 12px;
    color: #ccc;
}

.balanceAmount {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.setLimitButton {
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    color: white;
    border: none;
    
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
}

.searchContainer {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    border: 1px solid #555;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.searchIcon {
    color: white;
    margin-right: 8px;
}

.searchInput {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    padding: 7px;
}

.label {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}
  .currencyOption {
    display: flex;
    align-items: center;
  }
  
  .currencyIcon {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 1px;
    
  }
  
  .loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    z-index: 2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
  
  
  .loader {
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #ff007b, #007bff); 
    animation: spin 1s linear infinite;
    transform: rotate(45deg); 
    position: relative;
    z-index: 3;
    box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
    border-radius: 12%; 
  }
  
  
  .loader::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(255, 0, 123, 0.3); 
    border-radius: 15%;
    animation: pulse 1.5s infinite ease-in-out;
    z-index: -1;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(405deg); }
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .buttonContainer {
    margin-top: 20px;
}

.topUpButton, .withdrawButton {
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
}