.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 10px;
  box-sizing: border-box;
}

.text {
  margin-top: 5rem;
  flex: 1;
  margin-right: 5rem;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.image {
  flex-shrink: 0;
  margin-top: 7rem;
  margin-left: 6rem;
}

.heading {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, Arial, sans-serif;
  margin-bottom: 0.5rem;
  text-align: left;
}

.subtext {
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  font-size: 15px;
  color: #ddd;
  margin-bottom: 1rem;
  text-align: left;
}

.signupButton {
  padding: 5px 40px;
  font-size: 12px;
  color: white;
  background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.signupButton:hover {
  background-color: #005bb5;
}

.footer {
  background: linear-gradient(90deg, #007bffec, #800080);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
  align-items: center;
}

.footerImage {
  margin-right: 10px;
}

.footerCopy {
  color: white;
  font-size: 12px;
}

.footerRight {
  text-align: right;
}

.footerLinks a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .image {
    margin-top: 7rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .text {
    margin-top: 2rem;
    margin-right: 0;
  }

  .heading {
    font-size: 24px;
    text-align: center;
  }

  .subtext {
    font-size: 14px;
    text-align: center;
  }

  .signupButton {
    font-size: 14px;
    padding: 10px 30px;
    margin-bottom: 3rem;
  }

  .footerContainer {
    flex-direction: column;
    text-align: center;
  }

  .footerRight {
    margin-top: 10px;
    text-align: center;
  }

  .footerLinks a {
    margin: 5px;
    font-size: 12px;
  }
}
