/* pages/SelectAsset.css */
.assetContainer {
    width: 400px;
    height: 100vh;
    background-color: #000;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topBar {
    display: flex;
    align-items: center;
     /* Add spacing between icon and title if needed */
     gap: 15px;
    margin-bottom: 30px;
    margin-top: 1px; /* Adjust this value to move up */
  }
  
  .topBarButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0; /* Remove or adjust this if needed */
  }
  
  .topBarIcon {
    margin-top: 17px;
    margin-bottom: 15px;
    font-size: 18px; /* Adjust size if needed */
    color: white;
  }
  
  .topBarTitle {
    font-size: 24px;
    color: white;
    margin-top: 0; /* Remove or adjust this if needed */
    margin-right: 70px;

  }

.searchBar {
    padding: 10px;
    background-color: #1a1a1a;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}

.assetList {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.assetList::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.assetItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
}

.assetIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.assetInfo {
    display: flex;
    flex-direction: column;
}

.assetName {
    font-size: 16px;
}

.assetSymbol {
    font-size: 14px;
    color: #777;
}
