@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@500&display=swap');

.shapeIcon {
    position: absolute;
    top: -16px;
    left: 202px;
    width: 399px;
    height: 476.1px;
    object-fit: contain;
}
.dupayLogoIcon {
    width: 32px;
    position: relative;
    height: 32px;
}
.dupay {
    position: relative;
    line-height: 11.74px;
}
.dupayLogoParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.frameWrapper {
    position: absolute;
    top: 16px;
    left: 162px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.iconmenuBurger {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.frameParent {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #222531;
    width: 430px;
    height: 64px;
    overflow: hidden;
    opacity: 0.9;
    text-align: center;
    font-family: 'SF Pro';
}
.mwebChild {
    position: absolute;
    top: 723px;
    left: 0px;
    background-color: #222531;
    width: 1440px;
    height: 1px;
    overflow: hidden;
    opacity: 0.9;
}
.buySell {
    background: linear-gradient(180deg, #ff89c2, #f65ba4 50%, #bd46f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.with {
    color: #d9d9d9;
}
.title {
    align-self: stretch;
    position: relative;
    line-height: 36px;
    font-weight: 300;
}
.device14pmIcon {
    width: 258px;
    position: relative;
    height: 529px;
}
.title1 {
    align-self: stretch;
    position: relative;
    line-height: 40px;
    font-weight: 300;
}
.titleWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 19px;
}
.titleParent {
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.logoIcon {
    width: 33.7px;
    position: relative;
    height: 41.6px;
}
.textoIcon {
    width: 127.1px;
    position: relative;
    height: 41.5px;
}
.logoParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.frameDiv {
    align-self: stretch;
    background-color: #222531;
    height: 75px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.logoIcon1 {
    width: 35px;
    position: relative;
    height: 39.1px;
}
.textoIcon1 {
    width: 121.2px;
    position: relative;
    height: 39px;
}
.logoGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}
.chromeWebStoreIcon {
    width: 55.6px;
    position: relative;
    height: 47.9px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.textoIcon2 {
    width: 165.5px;
    position: relative;
    height: 33.7px;
}
.image6Icon {
    width: 34px;
    position: relative;
    height: 40.2px;
    object-fit: cover;
}
.availableOn {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.05em;
    line-height: 24px;
    font-weight: 500;
}
.braveBrowser {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: -4px;
}
.availableOnParent {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 12px;
    font-family: 'Avenir Next';
}
.frameGroup {
    position: absolute;
    top: 88px;
    left: 24px;
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    text-align: center;
    font-size: 24px;
}
.mwebItem {
    position: absolute;
    top: 1431px;
    left: 0px;
    background-color: #222531;
    width: 430px;
    height: 2px;
    overflow: hidden;
    opacity: 0.9;
}
.mwebInner {
    position: absolute;
    top: 2673px;
    left: 0px;
    background-color: #222531;
    width: 430px;
    height: 2px;
    overflow: hidden;
    opacity: 0.9;
}
.frameChild {
    width: 394px;
    position: relative;
    height: 350px;
}
.title2 {
    align-self: stretch;
    position: relative;
    line-height: 56px;
    font-weight: 300;
}
.titleContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 19px;
}
.titleGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.dupayLogoIcon1 {
    width: 24px;
    position: relative;
    height: 24px;
}
.title4 {
    flex: 1;
    position: relative;
    line-height: 28px;
}
.dupayLogoGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.title5 {
    position: relative;
    line-height: 28px;
}
.frameParent3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 20px;
}
.frameParent2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.frameParent1 {
    position: absolute;
    top: 100px;
    left: 24px;
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    font-size: 24px;
}
.frameItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #222531;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 1050px;
    height: 362px;
}
.loopergroupIcon {
    position: absolute;
    top: -338.31px;
    left: -748.93px;
    width: 1057.8px;
    height: 983px;
    object-fit: contain;
}
.title8 {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #dbdde6;
    text-align: center;
}
.titleParent1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.frameWrapper4 {
    position: absolute;
    top: 31px;
    left: 23px;
    background-color: rgba(23, 23, 26, 0.5);
    width: 382px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
}
.title9 {
    align-self: stretch;
    position: relative;
    line-height: 28px;
}
.title10 {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #dbdde6;
}
.titleParent2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.frameWrapper5 {
    position: absolute;
    top: 196px;
    left: 23px;
    background-color: rgba(23, 23, 26, 0.5);
    width: 382px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}
.rectangleParent {
    position: absolute;
    top: 1000px;
    left: 0px;
    width: 430px;
    height: 362px;
    overflow: hidden;
    font-size: 20px;
}
.image7Icon {
    width: 48px;
    position: relative;
    height: 48px;
    object-fit: cover;
}
.title11 {
    position: relative;
    line-height: 56px;
    font-weight: 300;
}
.image7Parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.mwebInner1 {
    position: absolute;
    top: 2697px;
    left: 24px;
    background-color: #17171a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.mweb {
    width: 100%;
    position: relative;
    background-color: #17171a;
    height: 2873px;
    overflow: hidden;
    text-align: left;
    font-size: 19px;
    color: #fff;
    font-family: Poppins;
}

