.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.formWrapper {
  background: black;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 360px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #B488B2  ;
  font-family: Poppins  ;
 


 
}

.formContent {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: rgba(136, 141, 170, 1);
  


}

.inputWithButton {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: rgb(251, 249, 249);
  background: rgba(0, 0, 0, 1);

}

.errorInput {
  border-color: red;
}

.error {
  color: red;
  font-size: 14px;
}

.submitButton {
  padding: 10px 20px;
  background: #e2f0ff;
  border: none;
  color: #0b0b0b;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.loginLink {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.timer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.resendButton {
  background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.eyeIcon {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 1em;
  margin-left: -25px;
}

