/* ProgressBar.css */
.progress-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* max-width: 300px; */
    margin: 0 auto;
  }
  
  .progress-bar__step {
    width: 30%;
    height: 8px;
    background-color: rgba(34, 37, 49, 1);
    border: 1px solid rgba(42, 45, 60, 1);
    border-radius: 2px;
  }
  
  .progress-bar__step--completed {
    background-color: rgba(95, 151, 255, 1); /* Color for completed steps */
  }
  
  .progress-bar__step--current {
    background-color: rgba(95, 151, 255, 1); /* Color for the current step */
  }
  