
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
/* body {
margin: 0; line-height: normal;
} */
.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #17171a;
}
.homeScreenBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 411px;
    height: 822px;
    overflow: hidden;
}

.imagecarouselIndicatorcompoIcon {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% + 10px);
    width: 8px;
    height: 8px;
}
.imagecarouselIndicatorcompoIcon1 {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
}
.imagecarouselIndicatorcompoIcon2 {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 18px);
    width: 8px;
    height: 8px;
}
.carouselIndicator {
    position: absolute;
    top: 93px;
    left: 32px;
    width: 36px;
    height: 8px;
}

.skip {
    position: absolute;
    top: 86px;
    left: 346px;
    line-height: 22px;
    font-family: 'SF Pro';
    color: #787d9c;
}
.future {
    background: linear-gradient(180deg, #ff89c2, #f65ba4 50%, #bd46f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.of {
    color: #fff;
}
.title {
    width: 304px;
    position: relative;
    line-height: 56px;
    font-weight: 300;
    display: inline-block;
}
.title1 {
    align-self: stretch;
    position: relative;
    font-size: 22px;
    line-height: 44px;
    font-weight: 300;
    color: #fff;
}
.titleParent {
    position: absolute;
    top: 453px;
    left: 32px;
    width: 347px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 40px;
    color: #d9d9d9;
    z-index: 2;
}
.techbgIcon {
    position: absolute;
    top: 108px;
    left: 0px;
    width: 580px;
    height: 378px;
    overflow: hidden;
    z-index: 1;
}
.text {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.btnbtn {
    position: absolute;
    width: calc(100% - 48px);
    top: 8px;
    right: 24px;
    left: 24px;
    border-radius: 8px;
    background-color: #2a2d3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    box-sizing: border-box;
}
.btnmbBtnFab {
    position: absolute;
    top: 725px;
    left: 0px;
    background-color: #17171a;
    width: 411px;
    height: 98px;
    text-align: center;
    color: #5f97ff;
}
.oboarding4 {
    text-align: left;
    font-size: 16px;
    color: #787d9c;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: auto;
    width: 411px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #17171A;
    position: relative;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .oboarding4 {
      width: 100%; 
    }
  }
  
  @media (max-width: 768px) {
    .oboarding4 {
      width: 100%; 
    }
  }
  @media (max-width: 380px) {
    .oboarding4 {
      width: 100%;
      min-height: 100vh; 
    }
  }
  .label {
    position: relative;
    line-height: 16px;
}
.text {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
}
.inputinput {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #2a2d3c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    text-align: left;
    font-size: 12px;
    color: #888daa;
    font-family: Poppins;
}

