@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Gray-24, #17171A);
    width: var(--screen-width, 400px);
    height: var(--screen-height, 932px);
    background-image: url('https://res.cloudinary.com/dgfv6j82t/image/upload/v1726804098/circle_d5udrl.png');
    background-size: cover;
    background-position: center;
    color: white; 
    background-repeat: no-repeat;
    background-position: 100% 0; 
    background-size: 80% 40%; 
    margin: 0 auto;
}

.success_text {
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px; /* 140% */
    font-size: 2rem;
    font-weight: bold; 
    margin-bottom: 10px; 
    background: var(--Gradient-06, linear-gradient(91deg, #45F0D1 0%, #76E268 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height:40px;
}

.join_text {
    color: var(--White, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 295px;
    height: 30px;
}


.walletcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color:  rgba(23, 23, 26, 0.8);
    margin-top: 150px;
}

.wallet_ready{
    color: var(--White, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    /* Title-1 */
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    height:28px;
}
.signwallet {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
}

.checkwallet {
    position: absolute;
    top: 80%;
    left: 46%; 
    transform: translate(-50%, -50%); 
    width: 38px; 
    height: 38px; 
}

@media only screen and (max-width: 720px) and (max-height: 1280px) {
    .container {
        width: 100%;
        height: 100vh;
    }
    .success_text {
        font-size: 1.5rem; 
    }
    .join_text {
        font-size: 0.9rem; 
    }
    .wallet_ready {
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width: 600px) and (max-height: 1024px) {
    .container {
        max-width: 100%;
        height: 100vh;
    }
    .signwallet {
        width: 30vw; 
        max-width: 80px; 
    }
    .checkwallet {
        width: 8vw; 
        max-width: 30px; 
    }

    .join_text {
        width: 220px;
    }
    .success_text {
        font-size: 1.5rem; 
    }
    .join_text {
        font-size: 0.9rem; 
    }
    .wallet_ready {
        font-size: 1.2rem; 
    }
}