.dropdownContainer {
    position: relative;
    display: inline-block;
  }
  
  .dropdownHeader {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    color: #888daa;
    background-color: rgba(128, 128, 128, 0.253);
    max-height: 37px;
    background-color: #1e1e1e;
  }
  
  .arrow {
    font-size: 14px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 4px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: 100px;
    background-color: #1e1e1e;
    color: #888daa;
  }
  .dropdownMenu.selected {
    background-color: #888daa;
  }
  .optionsContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for other browsers */
  .optionsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .searchInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #888daa;
    background-color: #1e1e1e;
  }
  
  .optionsContainer {
    max-height: 150px;
    overflow-y: auto;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
    color: #888daa;
  }
  
  .option:hover {
    background-color: #333;
  }
  
  .noOptions {
    padding: 10px;
    text-align: center;
    color: #888daa;
  }
  