@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

  
  .form {
    background-color: #17171a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    height: 100%;
    max-height: auto;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
  }

 
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    /* color: white; */
    color: #fbfcff;
  }
  
  .input {
    color: white;
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.253);
  }
  
  .required {
    color: red;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #007bff9f, #800080);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }
  

  
.customAlert {
  position: fixed;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  width: 45%;
  max-width: 300px;
  text-align: center;
}

.customAlert p {
  margin: 0 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.closeButton {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  width: 30%;
}


.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}


.loader {
  top: -20%;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ff007b, #007bff); 
  animation: spin 1s linear infinite;
  transform: rotate(45deg); 
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
  border-radius: 12%; 
}


.loader::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(255, 0, 123, 0.3); 
  border-radius: 15%;
  animation: pulse 1.5s infinite ease-in-out;
  z-index: -1;
}


@keyframes spin {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}







.mobileContainer {
  display: flex;
  align-items: center;
  position: relative;
  left: 20px;

}
.countryCodeContainer{
  position: relative;
  right:10px;
  top: 0;
  
}

.select {
    color: white;
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 37px;
    background-color: rgba(128, 128, 128, 0.253);
}



.formGroup {
  margin-bottom: 16px; /* Space between form groups */
}


.select option {
  background-color: rgb(37, 35, 35); /* Background color for options */
  color: white; /* Text color for options */
}
.frameParent {
  /* position: absolute;
  top: 106px;
  left: 32px; */
  width: 347px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.title{
  position: relative;
  font-family: 'Poppins';   
  line-height: 28px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-align: left;
}
.title2 {
  font-family: 'Roboto',sans-serif;
  width: 100%;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #fbfcff;
  text-align: left;
  display: inline-block;
  margin-bottom: 30px;

}
@media only screen and (max-width: 361px) {
  .title2 {
    font-size: 14px; /* Decrease font size */
    line-height: 20px; /* Adjust line height */
    margin-bottom: 20px; /* Adjust margin to fit smaller screens */
  }
}
.personalDetails {
  width: 430px;
  height: 100vh;
  position: fixed; 
  background-color: #17171a;
  height: 1453px;
  overflow: hidden;
  text-align: center;
  font-size: 26.43px;
  color: #fff;
  font-family: 'SF Pro';
  margin: 0 auto;
}



.dupay {
  position: relative;
  font-size: 26.43px;
  line-height: 11.74px;
  font-family: 'SF Pro';
  color: #fff;
  text-align: center;
}
.dupayLogoIcon {
  width: 50px;
  position: relative;
  height: 50px;
}
.dupayLogoParent {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frameContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
 } 
 .frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 18px;
  font-family: Poppins;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 43px;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.label {
  font-family: 'Poppins'; 
  font-size: 14px;  
  position: relative;
  line-height: 24px;
  font-weight: 600;
  color: #888daa;
  /* color: white; */
  text-align: left;
}
.inputinput {
  font-family: 'Poppins';   
  font-size: 12px;
  align-self: stretch;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2a2d3c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 16px;
}
.label2 {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Poppins';  
  color: #888daa;
  /* color: white; */
  text-align: left;
  left: 16px;
  top: 16px;
}

.label21 {
  position: relative;
  top: 5px;
  bottom: 0;
  font-size: 15px;
  /* line-height: 24px; */
  width: 100vw;
  /* left: 0; */
  /* margin-left: -185px; */
  font-weight: 600;
  font-family: 'Poppins';  
  color: #888daa;
  text-align: left;
  
}
.inputMobile {
  background-color: transparent; /* Makes the background of the input transparent */
  border: none; /* Removes the border of the input */
  color: white; /* Ensures the entered numbers are visible */
  outline: none; /* Removes the focus outline */
  font-size: 16px; /* Adjust the size if needed */
  width: 100%; 
  position: relative; /* Keep it in place but make the textbox invisible */
  top: 2px;
  left: 0; /* Position the textbox */
  height: 25px;
  margin-right: 100px;
}
.inputMobile::placeholder {
color: transparent; 
}
.inputinput2 {
  font-family: 'Poppins';   
  align-self: stretch;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2a2d3c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 16px;
  /* CSS to hide the default placeholder text */
}

.inputinput2 :global(input[type="date"]::-webkit-datetime-edit) {
  color: #ffffff;
}

.inputinput2 :global(input[type="date"]::-webkit-datetime-edit-month-field),
.inputinput2 :global(input[type="date"]::-webkit-datetime-edit-day-field),
.inputinput2 :global(input[type="date"]::-webkit-datetime-edit-year-field) {
  color: #ffffff; 
}

.inputinput2 :global(input[type="date"]:focus::-webkit-datetime-edit) {
  color: initial;
}

.inputinput21 {
  font-family: 'Poppins';   
  align-self: stretch;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2a2d3c;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 12px 16px;
  /* height: 115px; */
}
.inputinput3 {
  font-family: 'Poppins'; 
  font-size: 18px;  
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  border: 1px solid #2a2d3c;
  box-sizing: border-box;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 12px 16px;
}
.label3 {
  position: absolute;
  top: calc(50% - 12px);
  left: 16px;
  font-size: 16px;
  color: #888daa;
  /* color: white; */
  line-height: 24px;
  font-weight: 600;
  font-family: Poppins,sans-serif;
  line-height: 24px;
  font-weight: 600;
}
.iconcalendar {
  position: absolute;
  top: calc(50% - 12px);
  right: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.getStartedButton {
  background-color: #e2f0ff;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;

}
.text{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Poppins';
  color: #000;
  text-align: center;
}
/* .inputinput2 {
  font-family: 'Poppins';
  align-self: stretch;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2a2d3c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 16px;
  position: relative; 
}

.inputinput2 input {
  display: block;
  width: 100%;
  padding-top: 1.06667rem; 
  border: none;
  border-radius: 0; 
  color: white;
  background: black; 
  font-size: 16px; 
  transition: 0.3s ease;
}

.inputinput2 input:focus {
  outline: none;
}

.inputinput2 input:focus + label,
.inputinput2 input:valid + label {
  top: 0;
  font-weight: 700;
  font-size: 14px; 
  color: #ff5722; 
}

.inputinput2 label {
  position: absolute;
  top: 20px; 
  left: 16px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.25s ease;
  cursor: text;
} */

.inputinput2 {
  font-family: 'Poppins';
  /* font-size: 12px; */
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #2a2d3c;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: auto; 
  overflow: hidden;
  position: relative;
  margin-bottom: 20px; 
  padding: 12px 16px;
    
  }

.inputinput2 input {
  font-family: 'Poppins';
  display: block;
  width: 100%;
  /* font-weight: 600; */
  font-size: 16px; /* Adjust based on your design */
  padding-top: 16px; /* Adjust based on your design */
  border: none;
  border-radius: 0; /* For iOS */
  color: white;
  color-scheme: dark;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
  padding: 12px 16px;
  justify-content: flex-start;
  margin-left: -18px;
}

.inputinput2 input:focus {
  outline: none;
}
.inputinput21:focus {
  outline: none;
}
/* .inputinput21 input:focus + label,
.inputinput21 input:valid + label {
  font-family: 'Poppins';
  top: 0;
  font-weight: 700;
  font-size: 14px;
  color: #888daa;
}   */

.inputinput2 input:focus + label,
.inputinput2 input:valid + label {
  font-family: 'Poppins';
  top: 0;
  font-weight: 700;
  font-size: 14px; /* Smaller label size when focused or filled */
  /* color: #888daa; */
  /* color: white; */
}  
.inputinput2 input:focus + label2,
.inputinput2 input:valid + label2 {
  font-family: 'Poppins';
  top: 0;
  font-weight: 700;
  font-size: 14px; /* Smaller label size when focused or filled */
  /* color: #888daa; */
  /* color: white; */
}  

.inputinput2 label {
  position: absolute;
  font-family: 'Poppins';
  top: 16px; 
  /* left: 16px; */
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #888daa;
  /* color: white; */
  transition: 0.25s ease;
  cursor: text;
}
.inputinput2 .label2{
  position: absolute;
  font-family: 'Poppins';
  top: 16px; /* Start position */
  left: 12px;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #888daa;
  /* color: white; */
  transition: 0.25s ease;
  cursor: text;
}
.label21{
  left: 12px;
}
.label215{
  left: 16px;
  margin-top: -15px;
}

.inputinput {
  position: relative; /* Needed for label positioning */
  margin-bottom: 20px; /* Space between inputs */
  /* padding: 12px 16px; */
}

.inputinput input {
  display: block;
  width: 100%;
  padding: 16px 0; /* Adjust padding for top space */
  border: none;
  /* border-bottom: 2px solid #2a2d3c;  */
  color: white;
  background: transparent;
  font-size: 16px;
  transition: 0.3s ease;
  padding: 12px 16px;
  justify-content: flex-start;
  margin-left: -20px;
}

.inputinput input:focus {
  outline: none;
  justify-content: flex-start;
  /* color: #888daa; */
}

.inputinput input:focus + label,
.inputinput input:valid + label {
  top: -2px; /* Move label up when focused or filled */
  font-weight: 600;
  font-size: 14px; 
  color: #888daa;
  /* color: white; */
 }

.label {
  position: absolute;
  top: 16px; /* Initial position */
  left: 0;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #888daa;
  /* color: white; */
  transition: 0.25s ease;
  cursor: text;
  margin-left: 10px;
}

.iconfaceid {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.title {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.listmbListItemitemLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.swichswitchChild {
  width: 24px;
  position: relative;
  border-radius: 17px;
  background-color: #fff;
  height: 24px;
}
.swichswitch {
  border-radius: 62px;
  background-color: #222531;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 46px 4px 4px;
}
.listmbListItemBasic {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  padding-bottom: 40px;
  box-sizing: border-box;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Poppins;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.textFieldWrapper {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2a2d3c;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  position: relative; /* Ensure the label and input stay within the wrapper */
}

.countryCodeContainer {
  margin-left: 40px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.label21 {
  position: absolute;
  top: 40%;
  left: 30px;
  transform: translateY(-50%);
  color: #888daa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins';
  pointer-events: none;
  transition: all 0.2s ease; /* Smooth transition */
}

.labelActive {
  top: -2px; /* Moves label up when input is focused or filled */
  font-size: 12px; /* Optionally shrink the label */
  color: #888daa;
}

.inputMobile {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 0;
  margin-left: 30px;
  height: 100%;
}

.inputMobile::placeholder {
  color: transparent; /* Hide the placeholder as the label is used */
}

.inputMobile:focus + .label21, /* Focus on input makes the label active */
.inputMobile:not(:placeholder-shown) + .label21 {
  top: -2px;
  font-size: 12px;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


@media (max-width: 1024px) {
  .form {
    width: 100vw; 
  }
}

@media (max-width: 768px) {
  .form {
    width: 100vw; 
  }
}
@media (max-width: 480px) {
  .form {
    width: 100%;
    height: 100%; 
    
  }

}