.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    /* position: relative; */
  }
  
  .form {
    background-color: black;
    padding: 20px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    position: relative;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: white;
  }
  
  .input {
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.253);
  }
  
  .required {
    color: red;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #007bff9f, #800080);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }
  

  
.customAlert {
  position: fixed;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  width: 45%;
  max-width: 300px;
  text-align: center;
}

.customAlert p {
  margin: 0 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.closeButton {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  width: 30%;
}


.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}


.loader {
  top: -20%;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ff007b, #007bff); 
  animation: spin 1s linear infinite;
  transform: rotate(45deg); 
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
  border-radius: 12%; 
}


.loader::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(255, 0, 123, 0.3); 
  border-radius: 15%;
  animation: pulse 1.5s infinite ease-in-out;
  z-index: -1;
}


@keyframes spin {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}







.mobileContainer {
  display: flex;
  align-items: center;
}

.select {
    color: white;
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 37px;
    background-color: rgba(128, 128, 128, 0.253);
}

.inputMobile {
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.253);
  
}

.formGroup {
  margin-bottom: 16px; /* Space between form groups */
}


.select option {
  background-color: rgb(37, 35, 35); /* Background color for options */
  color: white; /* Text color for options */
}