.paymentOptionsContainer {
    background-color: #121212;
    color: #ffffff;
    padding: 20px;
    /* border-radius: 8px; */
    width: 400px;
    max-width: 100%;
    height: 100vh;
    max-height: auto;
}
@media (max-width: 1024px) {
    .paymentOptionsContainer {
      width: 100%; 
    }
  }
  
  
  @media (max-width: 768px) {
    .paymentOptionsContainer {
      width: 100%; 
    }
  }

.header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.paymentIcon {
    width: 24px;  /* Adjust the size as needed */
    height: 24px;
    margin-right: 8px;
}

.paymentOptions {
    height: 75vh;
    max-height: auto;
    overflow-y: auto; 
    overflow-x: hidden; 
    scrollbar-width: none; 
}

.paymentOptions::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.paymentOptions :hover{
    background-color: gray;

}

.paymentOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid hsl(0, 1%, 28%); /* Add border for better visibility */
    border-radius: 4px; /* Rounded corners */
    margin-bottom: 10px;
    background-color: black; /* Background color */
}

.paymentOption i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 20px; /* Adjust icon size */
    color: white; /* Icon color */
}

.paymentOption span {
    color: white; /* Text color */
    font-size: 16px; /* Adjust text size */
}
.topBar {
    display: flex;
    align-items: center;
    /* Add spacing between icon and title if needed */
    gap: 15px; 
    margin-bottom: 30px;
    margin-top: 1px; /* Adjust this value to move up */
  }
  
  .topBarButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0; /* Remove or adjust this if needed */
  }
  
  .topBarIcon {
    margin-top: 17px;
    margin-bottom: 15px;
    font-size: 18px; /* Adjust size if needed */
    color: white;
  }
  
  .topBarTitle {
    font-size: 24px;
    color: white;
    margin-top: 0; /* Remove or adjust this if needed */
    margin-right: 60px;
  }
