.container {
    background-color: black;
    color: white;
    min-height: 100vh;
  }
  
  .flexContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .flexGrow {
    flex-grow: 1;
  }
  
  .mainContent {
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    padding: 0 1rem; /* Add padding for smaller screens */
  }
  
  .contentWrapper {
    display: flex;
    align-items: center;
    max-width: 80rem;
    width: 100%;
    flex-direction: row;
  }
  
  .textContainer {
    flex-grow: 1;
    padding: 1rem;
  }
  
  .heading {
    color: white;
    font-size: 2.5rem;
    margin-left: 3rem;
  }
  
  .subHeading {
    color: white;
    font-size: 1.25rem;
    margin-left: 3rem;
    margin-top: 1.25rem;
  }
  
  .button {
    background: linear-gradient(to right, rgba(0, 123, 255, 0.62), #800080);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;

    margin-left: 3rem;
    margin-top: 2.5rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #1d4ed8;
  }
  
  .linkContainer {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 3rem;
  }
  
  .linkText {
    color: white;
    font-size: 1.125rem;
    margin-right: 1rem;
  }
  
  .link {
    color: #6b21a8;
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 500;
  }
  
  .imageContainer {
    margin-left: 1rem;
    flex-shrink: 0;
    margin-top:0;
  }
  
  .imageWrapper {
    background-color: #1c1c1c;
    padding: 1.5rem;
    border-radius: 0.5rem;
    
  }
  
  .image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .mainContent {
      margin-top: 5rem; /* Reduce top margin on smaller screens */
      flex-direction: column; /* Stack content vertically */
    }
  
    .contentWrapper {
      flex-direction: column;
      align-items: center; /* Center content on smaller screens */
    }
  
    .textContainer {
      margin-left: 0; /* Remove left margin on smaller screens */
      text-align: center; /* Center text on smaller screens */
    }
  
    .heading {
      font-size: 2rem; /* Adjust heading size for smaller screens */
    }
  
    .subHeading {
      font-size: 1rem; /* Adjust subheading size for smaller screens */
    }
  
    .button {
      margin-left: 0; /* Center button on smaller screens */
 /* Full-width button on smaller screens */
    }
  
    .linkContainer {
      justify-content: center; /* Center the sign-in link on smaller screens */
      margin-left: 0;
      
    }
  
    .imageContainer {
      margin-left: 0; /* Center image on smaller screens */
      margin-top: 2rem; /* Add top margin for spacing */
    }
  
    .image {
      width: 20rem; /* Adjust image size for smaller screens */
      height: 20rem;
    }
  }
  
  @media (max-width: 480px) {


    .heading {
      font-size: 1.4rem;
      margin-inline-start: 0%;
      margin-top:1rem;
     
     /* Further adjust heading size for very small screens */
    }
  
    .subHeading {

        margin-inline-start: 0%;
        font-size: 1rem; /* Further adjust subheading size for very small screens */
    }
  
    .image {
      width: 14rem; /* Further adjust image size for very small screens */
      height: 14rem;
    }
    .linkText{
        font-size: 0.8rem;
    }
    .link{
        font-size: 1rem;
    }
  }
  