/* .wallet-manager {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  background-color: white; 
  }

.add-account-container {
    width: 430px;
    max-width: 430px;
    background-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
  }
  
  .add-account-header h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .add-account-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-account-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    border: none;
    border-radius: 0.5rem;
    font-size: 18px;
    cursor: pointer;
    transition: all .6s ease;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .add-account-button:hover {
    background-color: green;
    transform: scale(1.1);
  }
  
  .add-account-button.ledger {
    background-color: green;
    font-weight: bold;
  }
  
  .divider {
    margin: 10px 0;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .close-button {
    margin-left: 50%;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 40px;
    color: #aaa;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: white;
    transform: scale(1.1);
  }
  
  
  @media (max-width: 768px) {
    .add-account-container {
      width: auto;
      padding: 20px;
    }
  
    .add-account-button {
      font-size: 13px;
      padding: 8px;
    }
  
    .divider {
      font-size: 11px;
    }
  
    .add-account-header h2 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .add-account-container {
      width: auto;
      padding: 20px;
    }
  
    .add-account-button {
      font-size: 12px;
      padding: 6px;
    }
  
    .divider {
      font-size: 10px;
    }
  
    .add-account-header h1 {
      font-size: 30px;
    }
  }
  

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    z-index: 2;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 30px black;
    max-width: 430px;

}

.spinner {
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #ff007b, #007bff);
    animation: spin 1s linear infinite;
    transform: rotate(45deg);
    position: relative;
    z-index: 3;
    box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7);
    border-radius: 12%;
}

.loader::backdrop {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(255, 0, 123, 0.3);
    border-radius: 15%;
    animation: pulse 1.5s infinite ease-in-out;
    z-index: -1;

}

@keyframes spin {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.loadingText {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
} */

*{
  font-family: 'Poppins', sans-serif;
}
.wallet-manager {
  display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    background-color: white;
    color: #fff;  
}

.card {
  display:flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  background-color: #242429;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 430px;
  height: 100vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}
.backgrounddesing{
  width: 100%;
  display: grid;
  justify-content: end;
  align-items: end;
}
.backgrounddesing1{
  position: relative;
  right: -20px;
  top: -20px;
}
.update{
  background: linear-gradient(91.26deg, #45F0D1 0%, #76E268 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.subtext{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.updatetext{
  position: absolute;
  top: 35%;
  left: 46%;
}
.backbutton{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
}
.subcard{
   background: var(--Gray-24, #17171A);
   width:110%;
   max-width: 430px;
   position: absolute;
   left: 36%;
   height: auto;
   border-radius: 50px 50px 0px 0px;
   display: grid;
   gap: 28px;
   bottom: 0px;
}
.subcard1, .subcard2, .subcard3, .subcard4{
  display: flex;
  justify-content: center;
}

.subcard1{
  margin-top: 25px;
}
.subcard4{
  margin-bottom: 30px;
}
.subcard3{
  height: 40px;
}


.create-wallet-button1 {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #FFFFFF;
  width:90%;
  transition: all .4s ease;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(97.59deg, #E34D67 29.66%, #7746F4 70.15%);
}
.existing-wallet{
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #FFFFFF;
  width:90%;
  border: none;
  border-radius: 8px;
  transition: all .4s ease;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(97.59deg, #E34D67 29.66%, #7746F4 70.15%);
}

@media (max-width:438px) {
  .subcard{
    background: var(--Gray-24, #17171A);
    width:100%;
    position: fixed;
    left: 0px;
    height: auto;
    border-radius: 50px 50px 0px 0px;
    display: grid;
    gap: 25px;
    bottom: 0px;
 }
 .subcard4{
  margin-bottom: 30px;
}
.subcard1{
  margin-top: 30px;
}
.updatetext{
  position: absolute;
  top: 35%;
  left: 30%;
}
.backgrounddesing{
  height: 150px;
  /* width: 150px; */
  width: 100%;
  display: grid;
  justify-content: end;
  align-items: end;
}
}