/* Container styles */
@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 411px;
  max-width: 100%;
  max-height: auto;
  padding: 20px;
  margin: 0 auto;
  background-color: #17171A;
  background-image: url('https://res.cloudinary.com/dgfv6j82t/image/upload/v1726804098/circle_d5udrl.png');
  background-repeat: no-repeat;
  background-position: 90% 0; 
  background-size: 60% 50%; 
  color: white;
  /* font-family: 'Arial', sans-serif; */
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .container {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%; 
  }
}

.imagecarouselIndicatorcompoIcon {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% + 10px);
  width: 8px;
  height: 8px;
}
.imagecarouselIndicatorcompoIcon1 {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 18px);
  width: 8px;
  height: 8px;
}

.imagecarouselIndicatorcompoIcon2 {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
}
.carouselIndicator {
  position: absolute;
  top: 93px;
  left: 32px;
  width: 36px;
  height: 8px;
  z-index: 2;
}

/* Text content styles */
.textContent {
  text-align: left;
  padding-top: 40px;
}

.title {
  font-weight: bold;
  margin: 20px 0;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 300;
  /* line-height: 56px; */
  text-align: left;
 margin-top: 80%;
 z-index: 2;
}

.highlight {
  /* color: #ff00ff; */
  background: linear-gradient(180deg, #FF89C2 100%, #F65BA4 50%, #BD46F4 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlights {
/* color: #ff00ff; */
background: linear-gradient(180deg,#BD46F4 90%,#F65BA4 50%, #FF89C2 0%  );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.highlighted {
  /* color: #ff00ff; */
  background: linear-gradient(180deg,#F65BA4 70%, #FF89C2 10%  ,#BD46F4 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.subText {
  font-size: 16px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 300;
  /* line-height: 44px; */
  text-align: left;
}

/* Get started button styles */
.getStartedButton {
  background-color: #2A2D3C;
  border: none;
  color: #5F97FF;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Adjust hover states */
.getStartedButton:hover {
  background-color: #4e4e61;
}
