/* NetworkSelector.css */
.networkSelectorContainer {
    background-color: #121212;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 100vh;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.networkSelectorHeader {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    
}

.searchInput {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    color: #ffffff;
}

.networkOptionsList {
    /* Adjust height considering padding and header height */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    
}

/* Custom scrollbar styling */
.networkOptionsList::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.networkOption {
    padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #1e1e1e;
}

.networkOption:hover {
    background-color: #333;
}

.noResults {
    text-align: center;
    color: #999;
    padding: 20px;
}
.topBar {
    display: flex;
    align-items: center;
    gap: 15px; /* Add spacing between icon and title if needed */
    margin-bottom: 30px;
    margin-top: 1px; /* Adjust this value to move up */
  }
  
  .topBarButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0; /* Remove or adjust this if needed */
  }
  
  .topBarIcon {
    margin-top: 17px;
    margin-bottom: 15px;
    font-size: 18px; /* Adjust size if needed */
    color: white;
  }
  
  .topBarTitle {
    font-size: 24px;
    color: white;
    margin-top: 0; /* Remove or adjust this if needed */
    margin-right: 120px;
  }
