.container {
    position: relative;
    height: 100vh;
    max-height: auto;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #030303;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;   
  }
  .walleticon{
    position: relative;
    left: 180px;  
  }
  @media (max-width: 1024px) {
    .container {
      width: 100%; 
      overflow-y: hidden;
    }
  }

  @media (max-width: 740px) {
    .container {
      position: fixed; /* or absolute */
      width: 100%;
      bottom: 0px;
      left: 0px;
      overflow-y: hidden;
      /* height: 50px; Adjust the height as needed */
    }
    
  }
  @media (max-width: 414px) {
    .container {
      position: fixed; /* or absolute */
      width: 100%;
      bottom: 0px;
      left: 0px;
      overflow-y: hidden;
      /* height: 50px; Adjust the height as needed */
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 20px;
    }
    
  }
  @media (max-width: 430px) {
    .container {
      position: fixed; /* or absolute */
      width: 100%;
      bottom: 0px;
      left: 0px;
      overflow-y: hidden;
      /* height: 50px; Adjust the height as needed */
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 30px;
    }
    
  }
  
  
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .profileusericon{
    margin-right: 120px;
    left: 12px;
    font-size: 35px;
    position: relative;
    top: -10px;
  }
  .profileImagesrc{
    margin-bottom: 65px;
    font-size: 40px;
    left: 10px;
  }
  .walletAddress {
    display: flex;
    align-items: center;
    cursor: pointer; 
    gap: 1px;
  }
  
  .dropdownIcon {
    margin-left: auto; 
    margin-left: 1px; 
    
  }
  
  .rightSection {
    cursor: pointer;
    margin-right: 150px;
  }
  @media (max-width: 375px)  {
    .rightSection {
      cursor: pointer;
      margin-right: 130px;
      margin-top: 15px;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 4px;
    }
  }
  @media (min-width: 414px)  {
    .rightSection {
      cursor: pointer;
      margin-right: 130px;
      margin-top: 15px;
    }
    
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 5px; /* Use a positive gap */
    }
    
    .actions {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 20px; /* Use a positive gap */
    }
  }
  
    


  @media ((max-width: 768px)) {
    .rightSection {
      cursor: pointer;
      margin-right: 130px;
      margin-top: 15px;
    }
  
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .actions {
      display: flex;
      justify-content: start;
      margin: 5px 0;
      gap: 15px;
    }
  }
  

  @media ((max-width: 360px)){
    .rightSection{
      cursor: pointer;
      margin-top: 20px;
      margin-right: 100px;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 2px;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      margin: 19px 0;
    }
    .walleticon{
      left: 150px;  
    }
  }
  @media ((max-width: 412px)){
    .rightSection{
      cursor: pointer;
      margin-top: 20px;
      margin-right: 100px;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 2px;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      gap: 55px;
    }
  }
  
  .balance {
    font-size: 29px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    gap: 2px;
  }
  
  .actionButton {
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }
  
  .actionButton span {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .banner {
    display: flex;
    align-items: center;
    background-color: #1a1d23;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 3px;
    justify-content: space-between;
  }
  
  .bannerText {
    max-width: 90%;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  
  .activeTab {
    border-bottom: 2px solid #fff;
  }
  
  .content {
    min-height: 200px;
    background-color: black;
    padding: 20px;
    border-radius: 4px;
    margin-top: -20px;
  }
  
  .cryptoContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 155px;
  }
  
  .cryptoIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    height: 65px;
  }
  
  .cryptoIcon {
    width: 150px;
    height: 150px;
    background: transparent;
  }
  
  .addCryptoButton {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    width: 50px;
    cursor: pointer;
  } 
  
  .button-container {
    display: grid;
    place-items: center; 
    height: 100vh;       
  } 
  
  .addNameStart{
    font-style: normal;
    font-size: 21px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif; 
    border: black;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    position: relative;
    top: 65px;
    left: 27px;
  
  }
  .addCryptoButton {
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    color: #ffffff;
    border: rgb(253, 244, 244);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    position: relative;
    top: 65px;
    left: 5px;
    align-self: start; 
    border-radius: 5px;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .footerButton {
    background: none;
    border: none;
    color: #1a73e8;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footerButton span {
    margin-top: 5px;
    font-size: 12px;
  }
  
  .bottomBar {
    background-color: #1a1d23;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }
  
  .dropdown {
    position: absolute;
    top: 250px;
    left: 12;
    width: 87%;
    background-color: #1a1d23;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-left: 5px;
  }
  
  .dropdownContent {
    padding: 20px;
  }
  
  .dropdownItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    left: 100px;
  } 
  
  .profileIcon {
    margin-right: 2px;
    font-size: 30px;
    position: relative;
    top: 1px;
  }
  .profileIcon2{
    margin-right: 2px;
    font-size: 30px;
    position: relative;
    top: -35px;
  }
  .textContainer {
    flex-grow: 50s; 
  }
  
  .viewprofileButton {
    margin-right: 20px;
    margin-top: -5px;
    align-items: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    width: 115%;
    gap: 40px; 
    margin-right: 150px;
    margin-left: -40px;
  }
  .userid{
    font-weight: bold;
  }
  
  .manageWalletsButton {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    width: 105%;
    gap: 40px;
    margin-right: 20px; 
    margin-left: -8px;
  }
  .manageWalletsButton1 {
    font-weight: bold;
    background: linear-gradient(to right, rgba(119, 6, 211, 1) 25%, rgba(243, 66, 235, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    width: 115%;
    gap: 40px;
    margin-top: 13px;
    margin-right: 20px; 
    margin-left: -40px;
  }
  .settingsIcon {
    align-items: right;
    margin-left: 10px; 
  }
  .checkIcon {
    margin-left: 235px;
    font-size: 25px;
    position: relative;
    top: -40px;
    color: blue;
  } 
  .fiatDropdown {
    position: absolute;
    top: 238px;
    left: 12px;
    width: 87%;
    background-color: #1a1d23;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-left: 5px;
  }
  
  
  .tabContainer {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabContainer button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .actions {
    display: flex;
    flex-wrap: wrap;
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  
  .walletButton {
    padding-top: 10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(20% - 10px); 
  }
  
  .icon {
    font-size: 18px;
    color: #ffffff; 
  }
  
  .buttonLabel {
    font-size: 11px; 
    font-weight: bold;
    color: #ffffff; 
    padding-bottom: 7px;
  }

 /* Popup animation styles */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8); /* Scale down */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Normal scale */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.showPopupAnimation {
  animation: fadeIn 0.3s ease-in-out;
}

.hidePopupAnimation {
  animation: fadeOut 0.3s ease-in-out;
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  z-index: 2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}


.loader {
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, #4C208C, #BF5FFF);
  animation: spin 1s linear infinite;
  transform: rotate(45deg); 
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(255, 0, 123, 0.7), 0 0 20px rgba(0, 123, 255, 0.7); 
  border-radius: 12%; 
}


.loader::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(255, 0, 123, 0.3); 
  border-radius: 15%;
  animation: pulse 1.5s infinite ease-in-out;
  z-index: -1;
}


@keyframes spin {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Mobile popup style */
.mobilePopup {
  width: 300px;
  height: 250px;
  background-color: #333;
  color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Confirm button styling with pulse animation */
.confirmButton {
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.confirmButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s ease-out;
  border-radius: 50%;
}

.confirmButton:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.confirmButton:hover {
  background-color: #45a049;
}

.confirmButton:active {
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Cancel button styling */
.cancelButton {
  background-color: #f44336;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.cancelButton:hover {
  background-color: #e53935;
}

@media (max-width: 768px) {
  /* Ensure popup looks good on mobile */
  .mobilePopup {
    width: 90%; /* Take 90% of the screen width on mobile */
    height: auto;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 360px) {
  .container {
      padding: 25px; /* Further adjust padding for very small devices */
      overflow-x: hidden; 
  }
  
  .cryptoContent {
    height: 200px;
  }
  .addNameStart{
    width: 120%;
    left: -10px;
  }
  

  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 2px;
  }
  .viewprofileButton {
    width: 112%;
    gap: 40px; 
    margin-right: 150px;
    margin-left: -25px;
  }
  
}
