.container {
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    width: 100%; /* Full width for small screens */
    max-width: 400px; /* Fixed maximum width for larger screens */
    display: flex;
    color: white;
    overflow: hidden;
  }
  /* Small screens (up to 600px) */
@media (max-width: 600px) {
  .container {
    max-width: 100%; /* Full width on mobile screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* Medium devices (600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 100%; /* Slightly narrower on tablet screens */
    padding: 15px;
  }
}
@media (max-width: 360px) {
  .container{
    max-width: 100%;
    width: 100%;
    /* padding-right: 20px; */
  }
  .dropdownIconTrigger {
    position: relative;
    left: -40px;
    color: white;
  }
  
}
  
  .backarrow {
    color: white;
  }
  
  .dropdownButton {
    position: relative;
    left: 200px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdownIconTrigger {
    position: relative;
    right: 20px;
    color: white;
  }
  
  .dropdown {
    position: relative;
    top: 10px;
    left: 140px;
    width: 175px;
    margin: 0 auto;
    background-color: #333;
    color: white;
    border-radius: 15px;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .iconContainer{
    display: flex;
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdownItem:hover {
    background-color: #444;
  }
  
  .dropdownIcon {
    margin-right: 10px;
  }
  
  .bookmarkSection {
    position: relative;
    top: 125px;
    text-align: center;
  }
  
  .bookmarkImage {
    height: 100px;
    width: 180px;
    position: relative;
    bottom: 10px;
    left: 105px;
  }
  
  .noBookmarksText {
    margin-top: 10px;
    position: relative;
    left: 55px;
    font-weight: bold;
  }
  
  .instructionsText {
    color: gray;
    position: relative;
    left: 55px;
    margin: 5px 0;
  }
  